.caja1 {
    width: 30px;
    height: 30px;
    background-color: #5f6caf;
    padding: 10px 20px 30px 40px;
    border: 5px solid #ffb677;
    margin: 20px;
    font-family: Helvetica;
}

.caja2 {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #ffb677;
    margin-top: 5px ;
    font-family: Helvetica;
}